name: Validate with hassfest

on:
  workflow_dispatch:

jobs:
  hassfest:
    runs-on: ubuntu-latest
    name: Hassfest
    steps:
      - uses: "actions/checkout@v6"
      - uses: "home-assistant/actions/hassfest@master"
