name: Luxtronik Integration Tests

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13", "3.14"]

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r tests/requirements-dev.txt

    - name: Run tests with coverage
      run: |
        pytest --cov=custom_components.luxtronik --cov-report=xml --cov-report=term tests/

    - name: Upload coverage report
      uses: actions/upload-artifact@v5
      with:
        name: coverage-report
        path: coverage.xml

